.page-header {
  font-family: "Roboto Condensed", 'Helvetica', 'sans-serif';
}

/**
 * Styles for articles.
 */
.article.teaser h2 span {
  font-family: "Roboto Condensed", 'Helvetica', 'sans-serif';
}
.author {
  border-bottom: 1px dashed #CCCCCC;
  margin-bottom: 2em;
}
.article {
  font-family: 'Roboto', 'sans-serif';
  line-height: 2em;
  font-size: 1.3em;
}
.article h3 {
  font-weight: bold;
}
figure.align-center {
  text-align: center;
}
figcaption {
  font-size: .9em;
  font-style: italic;
}
.field--name-field-tags .field--item {
  margin-right: 20px;
}

/**
 * Styles for blocks.
 */
.view-last-entries .view-content .views-row {
  margin-bottom: 1.3em;
}
